// Imports for fonts
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&family=Simonetta:wght@400;900&display=swap');

// Set the color variables
$primary: #8b89d2;
$link: $primary;

// Set the font variables
$family-primary: 'Philosopher', sans-serif;
$family-secondary: 'Simonetta', cursive;

// Set other variables
$body-overflow-y: auto;
$dimensions: 16 24 32 48 64 96 128 192 256;
