// Import variables and fonts
@import 'variables';
@import 'bulma';

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @if $i >= 3 {
        @extend .has-text-weight-normal;
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: $link;
    border-bottom: 1px $link dashed;
    text-decoration: none;

    &.is-icon-link {
      border-bottom: none;
    }

    &:hover {
      color: $link-dark;
      border-bottom-color: $link-dark;
    }
  }

  // Lead modifier
  @for $size from 1 through 7 {
    .is-lead-#{$size} {
      @extend .is-family-secondary;
      @extend .is-size-#{$size};
      @extend .has-text-centered;
    }
  }

  // Centered modifier
  .is-centered {
    margin-left: auto;
    margin-right: auto;
  }
}

// Navbar styling
.navbar {
  // Centered navbar start
  .navbar-start {
    margin-left: auto;
    margin-right: auto;
  }

  // Hovered navbar link
  a:hover {
    @extend .has-text-link-light;
  }

  // Navbar menu
  .navbar-menu {
    @extend .has-text-weight-bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }

  // Floating navbar menu
  .navbar-menu.is-active {
    position: absolute;
    width: 100%;
  }
}

// Logo image modifier
.has-logo-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

// Background image modifier
.has-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Hero border effect
.has-hero-border-bottom:after, .has-hero-border:after {
  content: " ";
  display: block;
  width: 100%;
  height: 30px;

  background-image: url('../images/hero-border-bottom.png');
  background-position: center;
}
.has-hero-border-top:before, .has-hero-border:before {
  content: " ";
  display: block;
  width: 100%;
  height: 30px;

  background-image: url('../images/hero-border-top.png');
  background-position: center;
}

// Announcement box
.announcement {
  @extend .box;
  @extend .is-shadowless;
  @extend .has-background-primary-light;
}
