{% extends "index.twig" %}

{% block content %}
  <section class="dark">
    <header class="container-fluid" style="background-image: url('assets/images/diner.png');">
    </header>
  </section>

  <section class="light py-4">
    <div class="container">
      <h2 class="mb-4">Press Kit</h2>

      <div class="row">
        <div class="col-md-4 small">
          <h4>Factsheet</h4>

          <p>
            <strong>Developer:</strong><br>
            <a target="_blank" href="https://danaedekker.com">Danae Dekker</a><br>
            Based in Utrecht, The Netherlands
          </p>

          <p>
            <strong>Genre:</strong><br>
            Adventure, Visual Novel
          </p>

          <p>
            <strong>Platforms:</strong><br>
            Windows PC, other platforms t.b.d.
          </p>

          <p>
            <strong>Release date:</strong><br>
            Demo release: summer 2020<br>
            Full release: t.b.d.
          </p>

          <p>
            <strong>Price:</strong><br>
            Demo release: FREE<br>
            Full release: t.b.d.
          </p>

          <p>
            <strong>Website:</strong><br>
            <a target="_blank" href="https://invisiblewingsgame.com">invisiblewingsgame.com</a>
          </p>

          <p>
            <strong>E-mail:</strong><br>
            info [at] danaedekker.com
          </p>
        </div>

        <div class="col-md-8">
          <h4>Description</h4>

          <p>Invisible Wings is a narrative adventure game that takes the player on a journey in a dystopian fantasy setting. Follow Dawn, a young woman of faerie descent, as she tries to find answers to her own identity in a modern world where faeries and humans were supposed to live in harmony. Being bullied and harrassed most of her life because of her appearance she wants nothing more than just being an ordinary human. Although she blames her magical ancestors for all her problems, she meets a faerie herself, who grows more than a friend to her and complicates her quest even further.</p>
          <p>Explore the vibrant and diverse city of Ceylynn in an interactive audiovisual novel, characterized by recognizable characters, a rich world full of lore and a memorable adaptive soundtrack.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dark py-4">
    <div class="container">
      <h4>Videos</h4>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0u7GY8KIQ_4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="small font-italic mt-1">Demo: Dawn's bedroom</p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"src="https://www.youtube.com/embed/o4ZTL9XHad8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="small font-italic mt-1">Concept music: Lilith's theme</p>

      <h4>Images</h4>

      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="assets/images/skating-rink-sketch.png" alt="Skating rink sketch">
          <p class="small font-italic mt-1">Skating rink sketch</p>
        </div>

        <div class="col-sm-6">
          <img class="img-fluid" src="assets/images/menu-sketch.png" alt="Park sketch">
          <p class="small font-italic mt-1">Park sketch</p>
        </div>

        <div class="col-sm-6">
          <img class="img-fluid" src="assets/images/dressing-room-sketch.png" alt="Dressing room sketch">
          <p class="small font-italic mt-1">Dressing room sketch</p>
        </div>

        <div class="col-sm-6">
          <img class="img-fluid" src="assets/images/piazza-sketch.png" alt="Piazza sketch">
          <p class="small font-italic mt-1">Piazza sketch</p>
        </div>
     </div>
    </div>
  </section>

  <section class="light py-4">
    <div class="container">
      <h4>Theme and setting</h4>

      <p>Invisible Wings is a visual novel with point-and-click elements, focused on the story and narrative. Gameplay is limited and always in favor of the narrative. Different from most visual novels the narrative is linear and does not feature branching. Moreover all dialogue is narrated through voice-overs. The game uses interactive narration techniques.</p>
      <p>The story takes place on an alternative Earth where traditional mythological creatures are transplanted to a modern urban setting. On this Earth faeries live among human society, but in turn humans are hateful and racist towards them and hybrids, children from humans and faeries.</p>
      <p>The game focuses on the personal story of Dawn and her struggle with her identity. As she is a hybrid, she has a nude tail like the faeries have, and therefore she has been bullied and harassed most of her life. Her story focuses on discovering how she can embrace her identity and her romantic interest for a faerie she initially didn’t trust because of her species alone.</p>

      <h4>Gameplay mechanics</h4>

      <ul>
        <li>Dialogue: oftentimes the main character has conversations with other characters to unfold the narrative. At some points in the narrative the player stumbles upon a decision point where he has to choose in which direction the narrative is driven. Most times however the influence of these choices is minor and only has a direct impact on the current dialogue.</li>
        <li>Point-and click: in moments of “rest” in the game the player can interact with items that are present in the environment by clicking on them. The main character will then interact with the item (e.g. turning on a radio) or tell something about the item (e.g. an anecdote about her ice skates). In this way the player can explore the narrative and lore of the world in an interactive way.</li>
      </ul>
    </div>
  </section>

  <section class="dark py-4">
    <div class="container">
      <h4>Credits</h4>

      <p>
        <a href="https://danaedekker.com/">
          Danae Dekker</a></strong>
        </a><br>
        creative director, game development, narrative design, audio design, music
      </p>
      <p>
        <a href="https://www.deviantart.com/maricu-mana">
          <strong>Maricu Mana</strong>
        </a><br>
        character and environment design
      </p>
      <p>
        <strong>Eva van der Meer</strong><br>
        script writing
      </p>
      <p>Special thanks to Elijah Gabriel, Volmer Montsma, Alexis Orellana, Maarten Oud</p>
    </div>
  </section>
{% endblock %}
